body {
  background-color: hsl(204, 43%, 93%);
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h1 {
  color: hsl(179, 62%, 43%);
  font-weight: 700;
}

h2 {
  font-weight: 700;
  margin-bottom: 25px;
}

#container-fluid {
  width: 60%;
  margin: auto;
  border-radius: 10px;
}

.colored-section {
  color: #fff;
  padding: 5%;
}

.Join-Our-Community {
  background-color: #fff;
  color: hsl(218, 22%, 67%);
  padding: 8% 20% 5% 5%;
  border-radius: 15px 15px 0 0;
}

.money-back-gurantee {
  color: hsl(71, 73%, 54%);
  margin: 30px 0;
  font-size: 30px;
}

.Monthly-Subscription {
  background-color: hsl(179, 62%, 43%);
  border-radius: 0 0 0 15px;
}
.flex-container{
  display: flex;
  align-items: center;
}
.dollar{
  font-weight: 700;
  font-size: 35px;
  padding-right: 10px;
}
.full-access{
  font-size: 20px;
}
.button {
  background-color: hsl(71, 73%, 54%);
  color: white;
  margin-top: 50px;
  font-weight: 700;
  padding: 5%;
}

.Why-Us {
  background-color: hsl(179, 62%, 46%);
  border-radius: 0 0 15px 0;
  line-height: 1 ;
}


@media (max-width: 992px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  .money-back-gurantee {
    font-size: 20px;
  }

  .Join-Our-Community {
    padding: 8%;
  }

  .Monthly-Subscription {
    border-radius: 0;
    padding: 8%;
  }

  .Why-Us {
    border-radius: 0 0 15px 15px;
    padding: 8%;
  }
}
